<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Yahoo Fantasy Oauth Example</title>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.3.0/pure-min.css">
    <link rel="stylesheet" href="/css/app.css">
</head>
<body>
<div id="doc" class="pure-g-r">
    <div id="main" class="pure-u">
        {{{body}}}
    </div>
</div>
</body>
</html>