<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Yahoo Fantasy Oauth Example</title>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.3.0/pure-min.css">
    <style>
        body {
            color: #222;
            background-color: #ECECEC;
            background-image: repeating-linear-gradient(45deg, transparent, transparent 1px, rgba(255,255,255,.5) 1px, rgba(255,255,255,.5) 2px);
            background-size: 10%;
        }
        
        a { color: #3b8bba; text-decoration: none; }
        
        #main {
            margin: 0 auto;
            padding: 0 2em;
            margin-bottom: 50px;
            width: 50%;
        }
        
        img { vertical-align:  middle; border-radius: 50%; }
        
        #login, #logout { text-align: center; }

        #login h3,
        #logout h3 {
            background: rgb(250, 250, 250);
            padding: 0.3em 1em;
            border-radius: 3px;
            display: block;
        }

        a.pure-button-primary { background: #6e329d; }
        a.pure-button-warning { background: #df7514; color: #FFF; }

        .pure-menu {
            text-align: left;
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
<div id="doc" class="pure-g-r">
    <div id="main" class="pure-u">
        {{{body}}}
    </div>
</div>
</body>
</html>